/* Обнуление*/
/*

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

:focus, :active {
  outline: none; }

a:focus, a:active {
  outline: none; }

nav, footer, header, aside {
  display: block; }

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

input, button, textarea {
  font-family: inherit; }

input::-ms-clear {
  display: none; }

button {
  cursor: pointer; }

button::-moz-focus-inner {
  padding: 0;
  border: 0; }



a:hover {
  text-decoration: none; }


img {
  vertical-align: top; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit; } */

* {
  padding: 0;
  margin: 0;
  border: 0;
}


body {
  font-family: "SF UI Text", "Helvetica Neue", "Segoe UI", "Oxygen", "Ubuntu", "Cantarell", "Open Sans", sans-serif;
  color: #3d155f;
  background-color: #F9F9F9;
}

a,
a:visited {
  text-decoration: none;
}

ul li {
  list-style: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

::placeholder {
  color: rgba(61, 21, 95, 0.5);
  font-size: 18px;
  font-weight: 200;
  line-height: 27px;
}

.header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 800;
  /* border: 2px solid white; */
}

.header__wrap {
  position: relative;
  height: 100px;
  width: 1400px;
  margin: 0 auto;

}

.header__list {
  margin-top: 70px;
  margin-bottom: 40px;
}

.header__nav {
  position: absolute;
  right: 60px;
  top: 40px;
  box-shadow: 0 10px 53px 0 rgb(163 204 170 / 30%);
  padding: 20px 100px 20px 100px;
  background: #fff;
  z-index: 999;
  visibility: hidden;
}

.location {
  font-size: 15px;
  line-height: 15px;
  display: block;
  color: white;
  background: url(../assets/img/google-maps16.png) no-repeat;
  padding-left: 20px;
  color: #ccf381;
  margin-top: 10px;
  margin-bottom: 80px;
}

.header__link {
  text-decoration: none;
  font-size: 18px;
  line-height: 36px;
  font-weight: 400;
}

.resume {
  display: flex;
  justify-content: space-between;
}

.resume_link {
  display: block;
  font-weight: 400;
  width: 120px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #ccf381;
  background: url(../assets/img/download.png) no-repeat;
  padding-left: 15px;
  /* background-color: #ccf381; */
  /* border: 1px solid red; */
}

.resume_mail {
  display: block;
  font-weight: 400;
  width: 120px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #ccf381;
  background: url(../assets/img/gmail.png) no-repeat;
}

.resume_telegram {
  display: block;
  font-weight: 400;
  width: 120px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #ccf381;
  background: url(../assets/img/telegram.png) no-repeat;
}

.header__basic-say-hello {
  color: rgb(203, 201, 226);
  font-size: 18px;
  text-transform: uppercase;
}

.header__basic-link {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

.header__basic-contact {
  margin-bottom: 50px;
}

.social-contact-link {
  color: #4831d4;
  font-size: 18px;
  text-transform: uppercase;
}

.burger {
  position: absolute;
  width: 35px;
  height: 35px;
  top: 50px;
  right: 70px;
  z-index: 1000;
}

.burger-line {
  width: 35px;
  height: 3px;
  background: #4831d4;
  display: inline-block;
}

.burger-line-active {
  transform: rotate(-45deg);
}

.burger-line:last-child {
  width: 35px;
}

.burger-line-active-lcd {
  width: 35px;
  transform: translateY(-21px) rotate(45deg);
}


.active {
  opacity: 1;
  visibility: visible;
}

ul.header__social-contact li {
  display: inline-block;
  margin-left: 20px;
}

ul.header__social-contact li:first-child {
  margin-left: 0px;
}


/* intro section start */
.intro {
  background: linear-gradient(90deg, #4831d4 67%, #ccf381 33%);
  background-image: linear-gradient(90deg, rgb(72, 49, 212) 67%, rgb(204, 243, 129) 33%);
  height: 600px;
  padding-top: 150px;
}

.intro__wrap {
  max-width: 1060px;
  margin: 0 auto;
}

.intro__wrap-desc {

  display: grid;
  grid-template-columns: 50% 50%;
}

.prof-name {
  padding-top: 60px;
}

.prof-name-label {
  color: #ccf381;
  font-size: 4em;
  line-height: 80px;
  letter-spacing: -0.03px;
  font-stretch: 100%;
  /* margin-bottom: 40px; */
}

.whatIdo {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 25px;

}

.my_skills {
  display: flex;
  flex-wrap: wrap;
  margin-top: 100px;

}

.my_skills_all {
  width: 220px;
  /* margin-left: 20px; */
  color: #ccf381;
  font-size: 14px;
  font-weight: 500;
}

.my_skills_all:last-child {
  margin-left: 50px;
}

.intro__wrap-pic {
  /* border: 3px solid red; */
}

.myPic {
  position: absolute;
  border: 2px solid white;
  width: 250px;
  height: 390px;
  /* margin: 30px 160px; */
  top: 10px;
  left: 180px;
}

.myPic-icon {
  position: absolute;
  top: 0px;
  left: 20px;
  width: 250px;
}

/* intro section end */

/* skills section start */
.skills {
  height: 100vh;
  width: 1100px;
  margin: 0 auto;

}

.skills__wrap {
  display: flex;
  justify-content: space-around;
}

.skils__title {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}


.skills li {
  min-height: 70px;


  padding-left: 70px;
  margin-top: 20px;
  /* border: 1px solid red; */
}





/* skills section end */

/* work section start */

.work {
  height: 100vh;
}

.work__examples {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
  align-items: center;
  justify-items: center;

}

.work__examples-link {
  display: block;
  height: 300px;
  width: 350px;
  padding: 15px;
}

.work__examples-link h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.work__examples-tags {
  border-top: 1px solid black;
}

.work__examples-pic {
  max-width: 350px;
}


/* work section end */



/* about section start */

.about__wrap {
  max-width: 1060px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
}

.about__details {
  position: relative;
  width: 50%;
}

.about__header {
  color: #4831d4;
  font-size: 4em;
  line-height: 60px;
  letter-spacing: -0.03px;
  font-stretch: 100%;
  margin-bottom: 40px;
}

.about__art {
  position: relative;
  margin-bottom: 50px;
}

.about__desc {
  max-width: 701px;
  font-size: 1.07em;
  color: #3d155f;
  line-height: 1.6;
}

.square-of-dots {
  position: absolute;
  right: 80px;
  top: 30px;

}

.square-of-dots-last {
  position: absolute;
  left: 50px;
  top: 50px;
}

/* about section end */

/* contact section start */
.contact {
  height: 100vh;
}

.contact__wrap {
  max-width: 1060px;
  margin: 0 auto;
}

.contact__header {
  font-size: 3.2em;
  font-weight: bold;
  line-height: 1.3;
  max-width: unset;
  letter-spacing: -0.03em;
  color: #4831d4;
  text-align: center;
  margin-bottom: 15px;
}

.contact__info {
  text-align: center;
  color: rgb(61, 21, 95);
  font-size: 20px;
  font-weight: 400;
  line-height: 31px;
}

.contact__form {
  width: 700px;
  margin: 0 auto;
}

.contact__form label {
  color: rgba(61, 21, 95, 0.5);
  font-size: 16px;
  font-weight: 200;
  line-height: 18px;
  margin-bottom: 5px;
}

.form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.contact__form-field {
  border-bottom: 1px solid rgba(61, 21, 95, 0.5);
  background-color: #F9F9F9;
  color: rgba(61, 21, 95, 0.5);
  font-size: 18px;
  font: 200;
  line-height: 27px;
  padding: 10px 10px 10px 0px;
  cursor: text;
  width: 300px;

}

.contact__form textarea {
  height: 75px;
  border-bottom: 1px solid rgba(61, 21, 95, 0.5);
  background-color: #F9F9F9;
  color: rgba(61, 21, 95, 0.5);
  font-size: 18px;
  font: 200;
  line-height: 27px;
  padding: 10px 10px 0px 0px;
  cursor: text;
  width: 100%;
}

/* .form-btn-send {
  width: 300px;
  padding: 15px 40px;
  border: 1px solid rgb(72, 49, 212);
  color: #4831d4;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
} */

.form-btn-send:hover {
  transform: translateY(0);
  --n: 1;
}

.form-btn {
  text-align: center;
}


.form-btn-send {
  --c: #4831d4;
  color: var(--c);
  font-size: 16px;
  border: 1px solid var(--c);
  /* border-radius: 0.5em; */
  /* width: 12em;
  height: 3em; */
  width: 250px;
  height: 50px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: sans-serif;
  letter-spacing: 0.1em;
  text-align: center;
  line-height: 3em;
  position: relative;
  overflow: hidden;
  z-index: 1;
  transition: 0.5s;
  margin: 1em;
}

.form-btn-send span {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: var(--c);
  transform: translateY(150%);
  border-radius: 50%;
  left: calc((var(--n) - 1) * 25%);
  transition: 0.5s;
  transition-delay: calc((var(--n) - 1) * 0.1s);
  z-index: -1;
}

.form-btn-send:hover {
  color: #fff;
}

.form-btn-send:hover span {
  transform: translateY(0) scale(2);
}

.form-btn-send span:nth-child(1) {
  --n: 1;
}

.form-btn-send span:nth-child(2) {
  --n: 2;
}

.form-btn-send span:nth-child(3) {
  --n: 3;
}

.form-btn-send span:nth-child(4) {
  --n: 4;
}





/* contact section end */


/* footer section start */

.footer {
  background: #3d155f;
  height: 100vh;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  border: 3px solid white;
}

.wrapper {
  max-width: 1060px;
  margin: 0 auto;
  padding: 0 15px;
  border-bottom: 2px solid grey;
  padding-top: 80px;
}

.footer__main {
  display: flex;
  padding: 60px 40px 40px 60px;
  justify-content: left
    /* align-items: center; */
}

.basic-contact {
  margin-right: 200px;
  min-height: 250px;
}

.say-hello {
  font-family: 'Open Sans', sans-serif;
  color: #cbc9e2;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 4px;
  line-height: 45px;
}

.footer__basic-link {
  font-size: 21px;
  color: rgb(186, 221, 118);
  line-height: 52px;
  font-weight: 500;

}

.footer__list {
  color: rgb(186, 221, 118);
  min-height: 250px;
}

.footer__basic-item {
  color: inherit;
  font-size: 21px;
  line-height: 52px;
  font-weight: 400;
}
